{{ define "main" }}

{{ partial "page-title.html" . }}


<section class="section">
    <div class="container">
        <div class="col-12 text-center">
            <h2 class="section-title">How Does it Work?</h2>
            <h3 class="section-title">1. Use your phone camera to scan the small QR code in the bottom right corner or visit artonfranklin.com manually in your web browser.</h2>
            <h3 class="section-title">2. From the website, place your phone in front of the black and white box business logo marker to see art pop up on your screen.</h2>
            <h3 class="section-title">3. Touch, swipe, or pinch to rotate, flip, or zoom in on the art on your phone!</h2>
                
        </div>
        
    </div>
   

</section>



<img style="display: block;
margin-left: auto;
margin-right: auto;
width: 100%; padding: 30px 30px 30px;" src="{{.Params.instructions | absURL }}" alt="signature" class="img-fluid">


{{ end }}